<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lab 3</title>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.5.0/math.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://wzrd.in/standalone/function-plot@1.14.0"></script>-->
    <link rel="stylesheet" type="text/css" href="css/jsxgraph.css" />
 <script type="text/javascript" src="js/jsxgraphcore.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="jxgbox" class="jxgbox" style="width:500px; height:500px">
</div>
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'secant')">Метод хорд</button>
      <button class="tablinks" onclick="openCity(event, 'fixedPoint')">Метод простой итерации</button>
      <button class="tablinks" onclick="openCity(event, 'fixedPointSys')">Системы</button>
    </div>
    <div id="secant" class="tabcontent">
      <form id="form">
        <input type="hidden" name="type" value="secant">
        <label>1: $${x^2-ln(x)-2cos(x)-1}$$</label>
        <label>2: $${x^3-2x-11}$$</label>
        <label>3: $${x^2-15}$$</label>
        <label>4: $${1 \over \sqrt{x}}$$</label>
        <label for="select">Выберите функцию</label>
        <select name="function">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="error">Error</label>
        <input type="text" name="error" placeholder="error">
        <label for="error">Левая граница</label>
        <input type="text" name="right" placeholder="error">
        <label for="error">Правая граница</label>
        <input type="text" name="left" placeholder="error">
        <button type="submit" class="solve">Решить</button>
        <p class="answer"></p>
      </form>
    </div>
    <div id="fixedPoint" class="tabcontent">
      <form id="form">
        <input type="hidden" name="type" value="fixedPoint">
        <label>1: $${x^2-ln(x)-2cos(x)-1}$$</label>
        <label>2: $${x^3-2x-11}$$</label>
        <label>3: $${x^2-15}$$</label>
        <label>4: $${1 \over \sqrt{x}}$$</label>
        <label for="select">Выберите функцию</label>
        <select id="select" name="function">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="error">Error</label>
        <input type="text" name="error" placeholder="error">
        <label for="error">Левая граница</label>
        <input type="text" name="right" placeholder="error">
        <label for="error">Правая граница</label>
        <input type="text" name="left" placeholder="error">
        <button type="submit" class="solve">Решить</button>
        <p class="answer"></p>
      </form>
    </div>
    <div id="fixedPointSys" class="tabcontent">
      <form id="form">
        <input type="hidden" name="type" value="fixedPointSys">
        <label>1: $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$</label>
        <label>2: $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$</label>
        <label>3: $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$</label>
        <label>4: $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$</label>
        <select name="function">
          <label for="select">Выберите функцию</label>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label for="error">Error</label>
        <input type="text" name="error" placeholder="error">
        <label for="error">Левая граница</label>
        <input type="text" name="error" placeholder="error">
        <label for="error">Правая граница</label>
        <input type="text" name="error" placeholder="error">
        <button type="submit" class="solve">Решить</button>
        <p class="answer"></p>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="/js/script.js"></script>
</html>
